In [9]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pandas as pd

In [3]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [C:\Users\syeong\.wdm\drivers\chromedriver\win32\93.0.4577.15\chromedriver.exe] found in cache

In [13]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [6]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [17]:
news_title = soup.find('div', class_='content_title')
news_p = soup.find('div', class_= 'article_teaser_body')

In [22]:
# JPL Mars Space Images 
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [61]:
full_image = soup.find('a', class_= 'showimg fancybox-thumbs')['href']
full_image

'image/featured/mars3.jpg'

In [63]:
featured_image_url = url + full_image
featured_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [ ]:
#Mars Facts

In [4]:
url = 'https://galaxyfacts-mars.com/'

In [25]:
mars_facts = pd.read_html(url)
mars_df = mars_facts[0]

In [30]:
mars_df.columns = ['Description', 'Mars', 'Earth']
mars_df

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [ ]:
html_table = mars_df.to